<div class="relative bg-blue-500 py-32 text-white">
  <!-- diamond shape fun element -->
  <div
      class="absolute top-0 right-0 mr-20 lg:mr-32 w-48 lg:w-64 h-48 lg:h-64 border-[30px] border-blue-600 opacity-50 rotate-45 transform lg:-translate-x-96 translate-y-32">
  </div>
  <div
      class="absolute top-0 left-0  w-48 lg:w-64 h-48 lg:h-64 border-[30px] border-blue-600 opacity-50 rotate-45 transform lg:translate-x-60 translate-y-80">
  </div>
  <div class="relative container mx-auto px-10">
    <!-- header for ready to work with us section  -->
    <div class="mb-10 flex items-center space-x-4 md:space-x-8">
      <div>
        <h2
            class="text-6xl md:text-9xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600 rounded-lg shadow shadow-green-400">
          4</h2>
      </div>
      <div>
        <img src="https://cdn.pixabay.com/photo/2014/08/14/11/15/diamond-417896_960_720.png" alt="blue diamond image" width="150"
            class="transform scale-95 md:scale-110">
      </div>
      <div>
        <h2 class="text-2xl md:text-3xl font-extrabold">Ready To Work With Us?</h2>
      </div>
    </div>
   
    <%= render "form" %>
    
  </div>
</div>