<div class="relative bg-blue-500 py-32 text-white">
  <!-- diamond shape fun element -->
  <div
      class="absolute top-0 right-0 mr-20 lg:mr-32 w-48 lg:w-64 h-48 lg:h-64 border-[30px] border-blue-600 opacity-50 rotate-45 transform lg:-translate-x-96 translate-y-32">
  </div>
  <div
      class="absolute top-0 left-0  w-48 lg:w-64 h-48 lg:h-64 border-[30px] border-blue-600 opacity-50 rotate-45 transform lg:translate-x-60 translate-y-80">
  </div>
  <div class="relative container mx-auto px-10">
    <!-- header for ready to work with us section  -->
    <div class="mb-10 flex items-center space-x-4 md:space-x-8">
      <div>
        <h2
            class="text-6xl md:text-9xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600 rounded-lg shadow shadow-green-400">
          4</h2>
      </div>
      <div>
        <img src="https://cdn.pixabay.com/photo/2014/08/14/11/15/diamond-417896_960_720.png" alt="blue diamond image" width="150"
            class="transform scale-95 md:scale-110">
      </div>
      <div>
        <h2 class="text-2xl md:text-3xl font-extrabold">Ready To Work With Us?</h2>
      </div>
    </div>
    <!-- ready to work with us section contents  -->
    <form action="/contacts" method="POST" class="md:w-3/5 mx-auto bg-blue-600 rounded-lg shadow-2xl">
      <%= csrf_meta_tags %>
      <div class="p-10 border-l-8 border-yellow-300 rounded-t-lg bg-blue-400">
        <textarea name="content" id="content" cols="30" rows="2" placeholder="Tell us more about your project"
        class="w-full pl-0 bg-transparent border-0 border-b border-blue-300 focus:border-orange-400 focus:outline-none placeholder-white"></textarea>
      </div>
      <br>
      <div class="p-10">
        <input type="text" name="name" id="name" placeholder="name"
        class="w-full pl-0 bg-transparent outline-none border-0 border-b border-blue-300 focus:border-orange-400 placeholder-blue-200">
      </div>
      <br>
      <div class="p-10">
        <input type="email" name="email" id="email" placeholder="email"
        class="w-full pl-0 bg-transparent outline-none border-0 border-b border-blue-300 focus:border-orange-400 placeholder-blue-200">
      </div>
      <div class="-mt-5 p-10 lg:flex items-center justify-between space-y-10 lg:space-y-0">
        <div>
          <label for="file-upload" id="custom-file-upload"
          class="flex items-center space-x-3 cursor-progress transform hover:scale-105 transition duration-500">
            <%= image_tag("upload-file.png", alt: "file upload icon", width: "40") %>
            <span class="text-sm font-bold">Attach File</span>
          </label>
          <input type="file" name="file" id="file-upload" class="hidden">
        </div>
        <div class="hover:scale-105 transition duration-500">
          <button
          class="py-2 px-6 text-sm font-semibold bg-pink-500 hover:bg-pink-400 rounded-full transition duration-500">Send
            Request</button>
        </div>
      </div>
    </form>
  </div>
</div>