<div id="services" class="bg-blue-500 py-24 text-white">
<div class="container mx-auto px-10">

  <!-- header for technology section -->
  <div class="mb-10 flex items-center space-x-4 md:space-x-8">
    <div>
      <h2
        class="text-6xl md:text-9xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600 rounded-lg shadow shadow-green-400">
        1</h2>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2014/08/14/11/15/diamond-417896_960_720.png" alt="blue diamond image" width="150"
        class="transform scale-95 md:scale-110">
    </div>
    <div>
      <h2 class="text-2xl md:text-3xl font-extrabold">Technologies</h2>
    </div>
  </div>

  <!-- Technology section contents  -->
  <div class="md:grid grid-cols-2 gap-10 space-y-10 md:space-y-0 ">
    <div class="p-4 bg-blue-600 rounded-lg shadow-md">

      <div class="mb-6 lg:mb-0 flex items-center space-x-4">
        <div class="relative h-14 w-14 flex items-center justify-center border-8 border-blue-700 transform rotate-45">
          <div class="absolute h-16 w-16 m-auto border-2 border-dotted border-white rounded-full transform -rotate-45">
            <div class="p-1">

              <img src="https://img.icons8.com/?size=100&id=SpZSUswN9tJs&format=png&color=000000" alt="cloud icon" width="60" class="border border-blue-100 rounded-full">
            </div>
          </div>
        </div>
        <h4 class="pl-2 lg:pl-4 lg:text-lg font-bold">High Customization</h4>
      </div>

      <div class="lg:pl-20">
        <p class="mb-2 leading-relaxed">Websites development on Rails are highly customizable to respond client's
          needs and growth.</p>
          <a href="#" class="w-full flex items-center text-sm space-x-2">
            <span class="font-bold text-yellow-500 hover:text-yellow-600">Read More</span>
            <span class="inline-block"><img src="https://img.icons8.com/?size=100&id=Ek7khsXSeZ71&format=png&color=FFFFFF" alt="arrow icon" width="40"> </span> 
          </a>
      </div>
    </div>

    <div class="p-4 bg-blue-600 rounded-lg shadow-md">
      <div class="mb-6 lg:mb-0 flex items-center space-x-4">
        
        <div class="relative h-14 w-14 flex items-center justify-center border-8 border-blue-700 transform rotate-45">
          <div class="absolute h-16 w-16 m-auto border-2 border-dotted border-white rounded-full transform -rotate-45">
            <div class="p-1">
              <img src="https://img.icons8.com/?size=100&id=3MBE6svrdHhW&format=png&color=000000" alt="cloud icon" width="60" class="border border-blue-100 rounded-full">
            </div>
          </div>
        </div>

        <h4 class="pl-2 lg:pl-4 lg:text-lg font-bold">Innovative E-Commerce</h4>
      </div>
      <div class="lg:pl-20">
        <p class="mb-2 leading-relaxed">Effective and actionable solutions for e-commerce websites are realized successfully with the support of Space and Solidus.</p>
        <a href="#" class="w-full flex items-center text-sm space-x-2">
          <span class="font-bold text-yellow-500 hover:text-yellow-600">Read More</span>
          <span class="inline-block"><img src="https://img.icons8.com/?size=100&id=Ek7khsXSeZ71&format=png&color=FFFFFF" alt="arrow icon" width="40"> </span> 
        </a>
      </div>
    </div>

    <div class="p-4 bg-blue-600 rounded-lg shadow-md">
      <div class="mb-6 lg:mb-0 flex items-center space-x-4">
        
        <div class="relative h-14 w-14 flex items-center justify-center border-8 border-blue-700 transform rotate-45">
          <div class="absolute h-16 w-16 m-auto border-2 border-dotted border-white rounded-full transform -rotate-45">
            <div class="p-1">
              <img src="https://img.icons8.com/?size=100&id=iqeQVE4k9kKR&format=png&color=000000" alt="cloud icon" width="60" class="border border-blue-100 rounded-full">
            </div>
          </div>
        </div>

        <h4 class="pl-2 lg:pl-4 lg:text-lg font-bold">Flexible Administration</h4>
      </div>
      <div class="lg:pl-20">
        <p class="mb-2 leading-relaxed">The flexible admin panel is obtained in no time with ActiveAdmin, adminstrative framework for business Ruby on Rails applications.
        </p>
        <a href="#" class="w-full flex items-center text-sm space-x-2">
          <span class="font-bold text-yellow-500 hover:text-yellow-600">Read More</span>
          <span class="inline-block"><img src="https://img.icons8.com/?size=100&id=Ek7khsXSeZ71&format=png&color=FFFFFF" alt="arrow icon" width="40"> </span> 
        </a>
      </div>
    </div>

    <div class="p-4 bg-blue-600 rounded-lg shadow-md">
      <div class="mb-6 lg:mb-0 flex items-center space-x-4">
        
        <div class="relative h-14 w-14 flex items-center justify-center border-8 border-blue-700 transform rotate-45">
          <div class="absolute h-16 w-16 m-auto border-2 border-dotted border-white rounded-full transform -rotate-45">
            <div class="p-1">
              <img src="https://w7.pngwing.com/pngs/601/72/png-transparent-landing-page-webpage-landing-page-website-landing-page-web-landing-page-online-landing-page-laptop-screen-3d-icon-thumbnail.png" alt="cloud icon" width="60" class="border border-blue-100 rounded-full">
            </div>
          </div>
        </div>

        <h4 class="pl-2 lg:pl-4 lg:text-lg font-bold">SPA Web Apps</h4>
      </div>
      <div class="lg:pl-20">
        <p class="mb-2 leading-relaxed">Single Page Application (SPA) with rails and hotwire is all you need for a turbo speed application.</p>
        <a href="#" class="w-full flex items-center text-sm space-x-2">
          <span class="font-bold text-yellow-500 hover:text-yellow-600">Read More</span>
          <span class="inline-block"><img src="https://img.icons8.com/?size=100&id=Ek7khsXSeZ71&format=png&color=FFFFFF" alt="arrow icon" width="40"> </span> 
        </a>
      </div>
    </div>
  </div>

</div>
</div>