<footer class="bg-blue-500 py-16 text-white">
<div class="conatiner mx-auto px-10">
  <div class="lg:w-3/5 mx-auto border-t border-blue-300 space-y-8">
    <div class="mt-10 lg:flex items-center justify-between text-sm space-y-2 lg:space-y-0">
      <div class="space-x-4 font-bold">
        <a href="#" class="hover:opacity-80 hover:underline transition duration-300">Works</a>
        <a href="#" class="hover:opacity-80 hover:underline transition duration-300">Services</a>
        <a href="#" class="hover:opacity-80 hover:underline transition duration-300">Company</a>
        <a href="#" class="hover:opacity-80 hover:underline transition duration-300">Blog</a>
      </div>
      <div>
        <p class="opacity-50">&copy; 2024 AOV Tech</p>
      </div>
    </div>

    <div class="lg:flex items-center justify-between space-y-4 lg:space-y-0">
      <div class="text-sm">
        <p class="opacity-50">Feel free to contact us</p>
        <p>customer@aovtech.com</p>
      </div>
      <div class="flex space-x-4">
        <a href="#" class="bg-blue-400 p-2 rounded-full transform hover:scale-105 transiton duration-300">
            <%= image_tag("facebook-logo.png", alt: "facebook logo", width: "20") %>
        </a>
        <a href="#" class="bg-blue-400 p-2 rounded-full transform hover:scale-105 transiton duration-300">
            <%= image_tag("tiktok-logo.png", alt: "tiktok logo", width: "20") %>
        </a>
        <a href="#" class="bg-blue-400 p-2 rounded-full transform hover:scale-105 transiton duration-300">
            <%= image_tag("twitter-logo.png", alt: "X logo", width: "20") %>
        </a>
      </div>
    </div>
  </div>
</div>
</footer>